:root {
	--container-width: 1600px;
	// --container-padding: 15px;

	--font-main: 'Gadugi', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--page-bg: #29343e;
	--text-color: #fff;
	--accent: #FFBD4E;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #29343E;
    --text-color: #fff;
}