/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

/* Libraries */
@import "./libs/slick_slider.scss";


.main {
    background: inherit;       
  }

  .intro {
    position: relative;    
    width: 1600px;
    height: 900px;      
    background-image: url(./../images/jpg/kamchatka_tour.jpg);
    background-color: rgba(59, 59, 59, 0.5);
    background-blend-mode: overlay;   
    background-size: cover;
    background-position: 0 80%; 
  

  .intro__text {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1400px;
        height: auto;
        margin-left: 200px;
        padding: 25px 192px 68px 261px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%);
        text-align: right;

        h4 {
          width: 947px;
          color: #FFF;          
          font-family: var(--font-main);
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 48px */
          letter-spacing: 0.96px;
          text-transform: uppercase;
        }

        h2 {
          width: 947px;
          color: #FFF;          
          font-family: var(--font-main);
          font-size: 96px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 1.92px;
          text-transform: uppercase;
          margin-bottom: 23px;
        }

        p {display: block;
          width: 735px;
          color: #7E7E7E;
          text-align: right;
          font-family: var(--font-main);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.32px;
          margin-left: auto;
          margin-bottom: 18px;    
        }

        .text__btn {
          width: 200px;
          height: 50px;
          background: var(--accent);    
        }
      }
      .intro__date {
        position: absolute;
        width: 261px;
        height: 342px;
        left: 137px;
        top: -5px;
        background: #29343E;        
        @include flex-between;
        justify-content: center;
        align-items: flex-start;

        :first-child {
          display: block;
          width: 107px;
          color: var(--accent);
          font-family: $fira;
          font-size: 96px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 134.4px */
          letter-spacing: 1.44px;
          text-transform: uppercase;
          padding-top: 148px;
          padding-left: 20px;          
        }

        :last-child {
          display: block;
          width: 52px;
          color: #646464;
          font-family: $fira;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 42px */
          letter-spacing: 0.45px;
          text-transform: uppercase;
          padding-top: 170px;
          margin-left: 20px;
        }
      }
  }
  .intro__view {
    width: 280px;
    height: 90px;
    position: absolute;
    top: 346px;
    left: 200px;
    @include flex-between;

    * {
      display: block;
    }

    p {
      color: #FFF;
      font-family: $fira;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 36px */
      letter-spacing: 0.72px;
      text-transform: uppercase; 
    }
  }

  .prev {    
    margin-right: 30px;
  }

  .bg-image {
    background-image: linear-gradient(180deg, rgb(41, 52, 62, 1.80) 0%, rgba(41, 52, 62, 0.00) 100%), url(./../images/jpg/main_hill.jpg);    
    background-size: cover;
    background-position: right 40% bottom 20%;
  }

  .about {
    padding: 103px 199px 135px 200px;
        
  }

  .about__titles {
    margin-left: -142px;
     display: flex;
     justify-content: flex-start;

     * {
      display: block;
     }
  }

  .yel-color {
    color: var(--accent);
  }  

  .title {
    width: 539px;
    color: #FFF;
    font-family: var(--font-main);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 50.4px */
    text-transform: uppercase;
    letter-spacing: 1.0px;
    margin-bottom: 51px;

  }

  .about__buttons {
    @include flex-between();

     :nth-child(2), :last-child {
      background: rgba(0, 0, 0, 0.14);      
      color: var(--accent);

      #what {
          color: #ffffff;
      }
      #who {
        color: #ffffff;
      }
     }
  }

  .subtitle {
    width: 100px;
    color: rgba(255, 255, 255, 0.70);
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;    
    margin-right: 42px;
  }

  .info-btn {
    display: block;
    width: 387px;
    height: 78px;
    border-radius: 16px;
    border: 1px solid var(--accent);
    background: var(--accent);
    backdrop-filter: blur(7.5px);
    text-align: left;
    padding-left: 20px;
    color: #29343E;
    font-family: var(--font-main);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 42px */
    text-transform: uppercase;
    margin-bottom: 69px;   
  }

  .info-article {
    @include flex-between;
  }

  .info-text {
    img {      
      margin-bottom: 46px;
    }

    p {
      width: 557px;
      color: #FFF;
      font-family: $inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: 0.24px;      
    }
  }

  .tours {
    position: relative;
    padding: 7px 199px 190px 200px;   
      
  }

  .tours__titles {
    margin-left: -142px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 120px;    
  }  

  .tours__countries {
    position: relative; 
  }  

  .count-line {
    position: absolute;    
    width: 134%;
    height: 2px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.90) 49.79%, rgba(255, 255, 255, 0.20) 100%);    
    padding: 0;
    top: 70px;
    margin-left: -200px;
    margin-right: -150px;       
  }

  .tour-items {           
    @include flex-between();
    margin-top: -100px;

      a > img {
        position: relative;
        display: block;
        z-index: 2;
      }
  }

  .item {
    position: relative;    
  }

  .rect-Mexico-1 {
    position: absolute;
    width: 82px;
    height: 76px;    
    background: #1c2227;
    top: 0;
    left: 10px;
    z-index: 1;    
  }

  .rect-Mexico-2 {
    position: absolute;
    width: 82px;
    height: 76px;    
    background: #15181D;
    top: 0;
    left: 10px;
    z-index: 1;    
  }

  .rect-Brazil {
    position: absolute;
    width: 106px;
    height: 76px;
    background: #111416;
    top: 0;
    left: 24px;
    z-index: 1;
  }

  .rect-India-1 {
    position: absolute;
    width: 106px;
    height: 76px;    
    background: #1c2227;
    top: 0;
    left: -4px;
    z-index: 1;
  }

  .rect-India-2 {
    position: absolute;
    width: 106px;
    height: 76px;    
    background: #191D24;
    top: 0;
    left: -4px;
    z-index: 1;
  }
  
.tour-cards {
  background: linear-gradient(180deg, #090909 0%, rgba(41, 52, 62, 0.00) 100%);  
  padding: 0 123px;  
}

.sakhalin_1 {
  position: relative;
  width: 1354px;
  height: 579px;
  border: 1px solid var(--accent);
  @include flex-between;
  margin-bottom: 215px;
  
  
    img [alt="Sakhalin-1"] {
      display: block;
      
      @include adaptive-img;
    }

  .card-photo-1 {
    position: absolute;
    left: 29px;
    margin-top: -90px;

    p {
      display: block;
      position: absolute;      
      transform: rotate(-90deg);
      bottom: 182px;
      left: -115px;
      color: rgba(255, 255, 255, 0.70);
      font-family: $panton;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 36px */
      letter-spacing: 20.16px;
      text-transform: uppercase;      
    }
  }
}

.marg {
  margin-bottom: 39px;
}

.yel-date {
  color: var(--accent);
}

.card_text-1 {
  position: absolute;
  top: 52px;
  right: 26px;
  width: 651px;
  height: 564px;
  background: rgba(16, 19, 21, 0.41);
  backdrop-filter: blur(29px);
  padding: 18px 0 0 31px;

    h3 {      
      font-family: $montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 8px;      
    }

    h6 {
      color: #447F8D;
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 29px;
    }

    .dates {      
      font-family: var(--font-main);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.45px;
      text-transform: uppercase;
      margin-bottom: 13px;

      
    }

    .line-card {            
      background-color: #447F8D;      
      height: 1px;
      width: 98%;
      margin-left: -32px;      
      margin-bottom: 15px;   
    }

    .para {
      width: 485px;
      color: rgba(255, 255, 255, 0.48);
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
      margin-bottom: 52px;      
    }

    .pax {
      color: rgba(255, 255, 255, 0.43);
      text-align: right;
      font-family: $circe;
      font-size: 16px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      margin-right: 29px;     
    }
    .price {      
      text-align: right;
      font-family: var(--font-main);
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 56px */
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-right: 29px;
      margin-bottom: 19px;     
    }

    button {
      width: 278px;
      height: 50px; 
      color: #000;
      text-align: center;
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
      text-transform: uppercase; 
      background: var(--accent);      
    }

    .tours-book {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
      
      a > h5 {
        width: 313px;
        height: 50px;
        padding: 11px 0;
        color: #FFF;
        text-align: center;
        font-family: var(--font-main);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.32px;
        text-transform: uppercase; 
        border: 1px solid rgba(255, 255, 255, 0.80);        
      }
    }

  .stars {
    text-align: right;
    padding-right: 18px;
  }
}

.conditions {
  @include flex-center;

    img {
      margin-right: 7px;
    }

    p span {
      margin-right: 23px;
    }
}

.guides {
  width: 1600px;
  height: 888px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #29343E 7.08%, rgba(41, 52, 62, 0.72) 52.92%, #29343E 100%), url(./../images/jpg/guides.jpg);
  padding: 350px 0 113px 201px;

    h4 {
      width: 100px;
      color: rgba(255, 255, 255, 0.70);
      font-family: $inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 5px;    
      margin-right: 42px;      
    }

    h2 {       
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 50.4px */
      text-transform: uppercase;    
    } 
    
    h2 span {
      color: var(--accent);
    }

    p {
      width: 411px;      
      font-family: $inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: 0.24px;
    }
}


.guides__titles {
  margin-left: -142px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;

  
}

.guides_text {
  margin-right: 38px;
}

.guide_items {
  min-width: 945px;
  @include flex-left;  
  flex-wrap: nowrap;    
  overflow-x: auto;
  overflow-y: hidden;
  
  &::-webkit-scrollbar {
    width: 1px;      
  }
  &::-webkit-scrollbar-track {
    background-color: #FFF;
    border-radius: 5px;
    border-top: 9px solid #273641;
    border-bottom: 9px solid #273641;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--accent);
    border-top: 7px solid #273641;
    border-bottom: 7px solid #273641;    
  }      
}

.guide_item {  
  position: relative;
  min-width: 220px;
  min-height: 317px;
  margin-bottom: 62px;
  margin-top: 31px;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform .1s linear;      
    } 
}

.guide-photo-1, .guide-photo-2, .guide-photo-3, .guide-photo-4 {
  border-radius: 12px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.40);
  margin-right: 35px;   
}

.guide-photo-1 {
  margin-left: 20px;
  background-image: url(./../images/jpg/guide_1.jpg);
  
}

.guide-photo-2 {
  background-image: url(./../images/jpg/guide_2.jpg);
  
}

.guide-photo-3 {
  background-image: url(./../images/jpg/guide_3.jpg);
  
}

.guide-photo-4 {
  background-image: url(./../images/jpg/guide_2.jpg);
  
}

.item_text {
  position: absolute;
  width: 220px;
  height: 101px;
  bottom: 0;
  border-radius: 0px 0px 12px 12px;
  background: rgba(29, 29, 29, 0.25);
  backdrop-filter: blur(7px);
  padding: 8px 88px 14px 17px;  
}

.guide_stars {
  width: 150px;
}

.pak-intro {
  position: relative;  
  width: 100%;
  min-height: 808px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%), url(./../images/jpg/north-pak_1.jpg);  
  background-size: cover;  
}

.pak_intro_info {
  position: relative;
  padding: 308px 242px 0 206px;

  h2 {
    
    font-family: var(--font-main);
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 70px */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 17px;   
  }

  h3 {
    color: var(--accent);
    font-family: $denistina;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 102%; /* 91.8px */
    letter-spacing: -1.8px;    
  }
}

.route {  
  position: relative;
  text-align: center;
  width: 1125px;
  height: 246px;
  margin: 0 auto;
  padding-bottom: 105px;
}

.points-1, .points-2, .points-3, .points-4, .points-5, .points-6, .points-7, .points-8, .points-9, .points-10 {  
  position: absolute;
  font-family: $inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.24px;
  
    p span {
      margin-right: 12px;
    }
}

.add__p {
  display: flex;
  align-items: center;
}

.points-1 {
  bottom: 45px;
  left: 0;
}

.points-2 {
  bottom: 85px;
  left: 150px;
}

.points-3 {
  bottom: 150px;
  left: 300px;
}

.points-4 {
  bottom: 170px;
  left: 400px;
}

.points-5 {
  bottom: 120px;
  left: 500px;
}

.points-6 {
  bottom: 130px;
  left: 640px;
}

.points-7 {
 bottom: 200px;
 left: 750px;
}

.points-8 {
  top: 0;
  right: 170px;
}

.points-9 {
  top: 50px;
  right: 160px;
}

.points-10 {
  top: 90px;
  right: 80px;
}

.pak_booking {
  padding: 17px 265px 27px 170px;
  margin: 0 36px;
  border-radius: 5px;
  background: #212B34;
  border: 12px solid #34424F;  
  box-shadow: 0 0 15px 10px inset #34424F;
}

.booking_text {  
  @include flex-between;

  h4 {    
    font-family: var(--font-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    text-decoration: underline;
    text-decoration-color: var(--accent);    
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    
      &::after {
        display: block;
        content: "";
        width: 201px;
        height: 1px;
        background-color: var(--accent);
        margin-top: 4px;
        margin-bottom: 14px;
      }
  }

  p {
    max-width: 632px;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.58);
    text-align: right;
    font-family: var(--font-main);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    letter-spacing: -0.24px;    
  }
}

.booking_form {
  @include flex-between;

  div {
      width: 255px;
      height: 38px;
      border-radius: 20px;
      background: #FFF;
      color: #020000;
      font-family: var(--font-main);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 19.2px */
      letter-spacing: -0.24px;
      padding-top: 10px;
      padding-left: 27px;                       
    }
  .book__btn {
      background: var(--accent);
      padding-left: 0;

      & input {
      width: 100%;
      text-align: center;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
      text-transform: uppercase;
      }            
    }  
}

.calend-intro {
  position: relative;  
  width: 100%;
  min-height: 646px;
  background-image:  url(./../images/jpg/calendar.jpg);  
  background-size: cover; 
}

.calend_title {
  position: absolute;        
  right: 205px;
  bottom: 158px;
  max-width: 872px;
  text-align: right;
  font-family: var(--font-main);
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 115.68px */
  letter-spacing: 1.92px;
  text-transform: uppercase;
  
  & span {
    color: var(--accent);         
}
}

.month {
  position: relative;
  @include flex-center;
  padding: 18px 0;

  
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    bottom: 81px;
  }
}

.month_item { 
  position: relative; 
  margin-right: 225px;
  text-align: center;
  z-index: 1;
  
  &:hover {
    
    p {
      color: #FFF;
      font-size: 25px;
      transition: .2s ease-in-out;
    }

    img[alt="Month_ellipse"] {
      opacity: 0;
      transition: .2s ease-in-out;
    }

    img[alt="Ell_hover"] {
      opacity: 1;
      transition: .2s ease-in-out;
    }

    img[alt="Circle_hover"] {
      opacity: 1;
      transition: .2s ease-in-out;
    }
  }    

    p {
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    font-family: $circe;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 183.9%; /* 40.458px */  
    }
  }
  
  .mon_ell {    
    position: relative;
    width: 70px;
    height: 70px;
    margin-left: 5px;
  
    img {      
      position: absolute;      
      bottom: 0;     

      &[alt="Month_ellipse"] {
        top: 54%;
        left: 49%; 
      }
      
      &[alt="Ell_hover"] {        
        opacity: 0;
        bottom: 12%;
        left: 45%;               
      }        

      &[alt="Circle_hover"] {
        opacity: 0;
        top: 35%;
        right: 2%;        
      }
    }
  }  

.add_month {
  margin-right: 0;
}

.fall {
  position: relative;
  @include flex-between;
  width: 100%;
  height: 1235px;
  padding: 219px 220px 313px 206px;
  background-image: linear-gradient(180deg, #29343E 0%, rgba(41, 52, 62, 0.00) 0%), url(./../images/svg/fall_vector.svg);
  background-size: cover;
}

.fall_text {
  max-width: 480px;

  h3 {    
    font-family: var(--font-main);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 50.4px */
    text-transform: uppercase;
    margin-bottom: 34px;    
  }  

  > p {
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    margin-bottom: 67px;   
  }
}

.fall_issues {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 34px;
  width: 541px;
  margin-bottom: 56px; 
}

.issue {
  width: 215px;

  h5 {    
    font-family: var(--font-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;    
  }

  p {
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;

    &::after {
      display: block;
      content: " ";
      width: 203px;
      height: 1px;
      background-color: var(--accent);
      margin-top: 13px;    
    }    
  }
}

.issue_title {
  @include flex-left;
  margin-bottom: 11px;

  img {
    margin-right: 21px;
  }

  img[alt="Dates"] {
    margin-bottom: 5px;
  }

  img[alt="Money"] {
    margin-bottom: -13px;
  }
}

.fall_book_btn {
  width: 507px;
  height: 50px;
  border-radius: 20px;
  background: var(--accent);
  color: #000;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  text-transform: uppercase;       
}

.know_more {
  position: absolute;
  @include flex-left;
  top: 121px;
  right: 54px;

  p {
  color: #FFF;
  font-family: $inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  text-decoration-line: underline;
  }    
}

.blog-intro {
  position: relative;
  width: 100%;
  min-height: 900px;
  background-image: url(./../images/jpg/blog_intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog_intro_info {
  padding: 324px 225px 0 405px;  
  text-align: right;

  h1 { 
    text-align: right;
    font-family: var(--font-main);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%; /* 117.12px */
    letter-spacing: 1.92px;
    text-transform: uppercase;    
    margin-bottom: 115px;
    
    & span {
      color: var(--accent);
    }
  }
}

.art_intro {
  position: relative;
  display: flex;
  flex-direction: column;  
  width: 100%;
  min-height: 900px;
  background-image: url(./../images/jpg/article_intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;

    h1 {
      text-align: center;
      font-family: var(--font-main);
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 96px */
      letter-spacing: 1.92px;
      text-transform: uppercase;
      margin-bottom: 17px;
      margin-top: 264px;
    }

    .art_intro_para {
      max-width: 507px;
      width: 100%;
      text-align: center;
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
      margin: 0 auto 20px;      
    }
}

.carousel {
  margin-top: auto; 
}

.art_btn {
  display: block;  
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--accent);
  color: #000;  
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin: 0 auto;  
}

.art_calendar {
  position: absolute;
  width: 54px;
  height: 219px;
  right: 71px;
  bottom: 45%;

    .cal_fig {
      width: 54px;
      color: #646464;
      font-family: $fira;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 42px */
      letter-spacing: 0.45px;
      text-transform: uppercase;
      margin-bottom: 0;
      
        &:hover {
          @include flex-between;
          width: 125px;
          color: var(--accent);
          font-family: $fira;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 67.2px */
          letter-spacing: 0.72px;
          text-transform: uppercase;
          transition: .2s linear;

          &::after {
            display: block;
            content: "";
            width: 62px;
            height: 3px;
            background-color: var(--accent);
          }
        }
    }
}

.pak_fall {
  padding: 140px 199px 0 203px;
  margin-bottom: -70px;

  h4 {
    max-width: 906px;    
    font-family: var(--font-main);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 51.2px */
    letter-spacing: -0.64px;
    margin-left: 55px;
    margin-bottom: 23px;
    
    & span {
      color: var(--accent);
    }
  }

  p {
    max-width: 688px;    
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    margin-left: auto;
    margin-bottom: 30px; 
  }

  img {
    margin-bottom: 32px;
  }
}

.fall_theme {
  @include flex-between;
  margin-bottom: 36px;
}

.fall_subtitle, .fall_subt-left {
  color: rgba(255, 255, 255, 0.70);
  font-family: $inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fall_subt-left {
  margin-left: -53px;
  margin-right: 70px; 
}

.fall_title {  
  font-family: var(--font-main);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  text-transform: uppercase;
  margin-right: auto;  

    & span {
      color: var(--accent);
      font-family: var(--font-main);
    }
}

.fall_item-2 {
  @include flex-between;
  position: relative;

  img[alt="Pak Fall-2"] {
    margin-bottom: 25px;
  }

  h6 span {
    position: absolute;
    top: 500px;
  }
}

.fall_item-3 {
  position: relative;

    h6 span {
      position: absolute;
      bottom: 290px;
    }

    .h4_add {
      margin-bottom: 77px;
    }
}

.item-2_text {
  max-width: 554px;
  color: #8C8C8C;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;  
}

.art_tours {
  min-height: 865px;
  width: 100%;
  padding: 317px 123px 0 200px;  

  #tours {
    position: absolute;
    left: 296px;
  }
}

.art_bg-image {
  background: linear-gradient(180deg, rgba(41, 52, 62, 6.80) 0%, rgba(41, 52, 62, 0.60) 100%), url(./../images/jpg/main_hill.jpg);    
}

.add_hill {
  background: linear-gradient(180deg, #29343E 0%, rgba(41, 52, 62, 0.00) 100%);  
}

.art_tours_title {
  position: relative;
  @include flex-between;
  align-items: baseline;

    h3 {      
      font-family: var(--font-main);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 50.4px */
      text-transform: uppercase;
      
      & span {
        color: var(--accent);
      }
    }    
}

.reference {
  @include flex-between;
  width: 243px;

  p {
    color: var(--accent);
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    text-decoration-line: underline;    
  }
}

.cont_intro {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-image: url(./../images/jpg/contacts_intro.jpg);
}

.cont_intro_info {
  text-align: right;
  padding: 300px 266px 0 0;

  p {    
    font-family: var(--font-main);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    
      & span {
        color: var(--accent);
      }
  }
}

.cruise_intro {
  position: relative;  
  width: 100%;
  min-height: 773px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(41, 52, 62, 0.78) 100%), url(./../images/jpg/cruise_intro.jpg) 0 50% / 1434px auto  no-repeat;  
}

.cruise_title {
  padding-top: 618px;
  margin-left: -189px;
  @include flex-center;
  align-items: flex-start;

    #cr_title {
      font-family: var(--font-main);
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 80%;
      letter-spacing: 1.92px;
      text-transform: uppercase;
      margin-right: 50px;      
    }

    .title_para {
      max-width: 432px;
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;      
    }
}

.cruise_welcome {
  position: relative;
  padding: 187px 241px 0 230px;
  width: 100%;
  min-height: 878px;
  background: linear-gradient(180deg, #29343E 0%, rgba(41, 52, 62, 0.60) 52.69%, rgba(41, 52, 62, 0.92) 70%), url(./../images/jpg/cruise_welcome.jpg);

    h6 {
      max-width: 551px;    
      font-family: var(--font-main);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 32px */
      letter-spacing: -0.4px;
      margin-bottom: 43px;
      margin-left: 33px;
      
      & span {
        color: var(--accent);
      }
    }
}

.rose {
  position: absolute;
  top: -200px;
  right: 0;
}

.welcome_title {
  position: relative;
  margin-bottom: 41px;

  h2 {
    font-family: $denistina;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 101%; /* 101px */
    letter-spacing: 6.5px;   
    
  }
}

#onboard {
  color: var(--accent);
  margin-left: 62%;      
}

.welcome_para { 
  max-width: 540px;  
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  margin-left: 410px;
  margin-bottom: 20px; 
}

.cruise_month {
  position: relative;
  @include flex-center;
  padding: 18px 0;

  
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    bottom: 81px;
  }
}

.cruise_program {
  padding-top: 155px;
}

.item-common {
  position: relative;
  margin-bottom: 293px;
  
  .ant_calend {
    position: absolute;
    top: -50px;
    left: 592px;
    font-family: var(--font-main);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    
    & span {
      color: var(--accent);
    }
  }
}

.add_cru {
 margin-bottom: 258px;
}

.cruise_item-1 {    
  width: 1600px;
  height: 555px; 
  background-image: url(./../images/jpg/cruise_item-1.jpg);    
  background-repeat: no-repeat;  
}

.cruise_item-2 {    
  width: 1600px;
  height: 555px; 
  background-image: url(./../images/jpg/cruise_item-2.jpg);   
  background-repeat: no-repeat;
  background-position: 0 53%;
  background-size: cover;

}

.cruise_plan {
  position: absolute;         
  width: 715px;
  height: 785px;
  padding: 37px 28px;
  right: 80px;
  top: -115px;
  background: rgba(32, 42, 51, 0.70);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(24.5px);        
}

.cruise_card { 
  position: relative;
  text-align: left; 
  width: 659px;
  height: 711px;
  padding-top: 47px;   
  padding-bottom: 25px;   
  border: 1px dashed var(--accent);
  

  h3 {
      width: 700px;
      margin-left: -10px;
      font-family:$denistina;
      font-size: 96px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 73px;
      
      & span {
          color: var(--accent);
          margin-left: 200px;
      }  
  } 
  
  #qatar {
    margin-left: 10px;

    & span {
      margin-left: 250px;
    }
  }

      .antarc {
          width: 623px;
          text-align: justify;
          font-family: var(--font-main);
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 32px */
          letter-spacing: -0.4px;          
          margin-left: 18px;
          margin-bottom: 40px;
          
          & span {
            color: var(--accent);
          }
      }

      .ant_ahead {
        width: 582px;        
        font-family: $inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.24px;
        margin-left: 18px;
        margin-bottom: 56px;
        
        & span {
          color: var(--accent);
        }
      }
}

.ant_book {
  @include flex-between;
  padding: 0 24px;  
}

.ant_btn {
  width: 278px;
  height: 50px;
  flex-shrink: 0;
  background: var(--accent);  
  color: #000;
  text-align: center;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  text-transform: uppercase;  
}

.ant_price {
  font-family: var(--font-main);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.6px;
  text-transform: uppercase;

  & span {
    color: var(--accent);
  }
}

.reason {
  padding: 0 199px;
}

.reason_text {
  @include flex-between;
  margin-bottom: 102px;   

  h3 {
    font-family: var(--font-main);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 50.4px */
    text-transform: uppercase;

    & span {
      color: var(--accent);
    }
  }

  p {
    max-width: 592px;
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.24px;
  }

  #note {
    align-self: flex-start;
    color: rgba(255, 255, 255, 0.70);
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
  }
}

.reason_items {
  @include flex-between;

  &::after {
    display: block;
    content: "";
    width: 1439px;
    height: 1px;
    background: #F3F3F3;
    margin-top: 224px;
    margin-bottom: 87px;
  }
}

.reason_item {
  text-align: center;

  img {
    margin-bottom: 21px;
  }  

  h4 {
    font-family: var(--font-main);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    text-transform: uppercase;

    & span {
      color: var(--accent);
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      background-color: var(--accent);
      margin-bottom: 16px;
    }
  }
}

.antarctic-intro {
  position: relative;  
  width: 100%;
  min-height: 866px;
  background-image: url(./../images/jpg/antarctic.jpg);
  background-size: cover;
}

.antarctic_booking {
  position: relative;
  padding: 17px 265px 27px 170px;
  margin: -50px 36px 0;
  border-radius: 5px;
  background: #212B34;
  border: 12px solid #34424F;  
  box-shadow: 0 0 15px 10px inset #34424F;
  z-index: 1;
}

.ant_book_text {  
  @include flex-between;

  h4 {    
    font-family: var(--font-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    text-decoration: underline;
    text-decoration-color: var(--accent);    
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    margin-bottom: 23px;
  }

  p {
    max-width: 632px;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.58);
    text-align: right;
    font-family: var(--font-main);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    letter-spacing: -0.24px;    
  }
}

.baikal_intro {
  position: relative;  
  width: 100%;
  min-height: 773px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%), url(./../images/jpg/baikal_intro.jpg) 0 50% / 1434px auto  no-repeat;  
}

.baikal_title {

    h1 {
      font-family: var(--font-main);
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 84px */
      letter-spacing: 1.4px;
      text-transform: uppercase;
      padding-top: 153px;
      margin: 0 0 281px 200px;
      
        & span {
          color: var(--accent);
        }
    }

    p {
      width: 438px;
      color: #FFF;
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.32px;
      margin-left: 706px;      
    }
}

.ice {
  position: relative;
  width: 100%;
  min-height: 987px;
  padding: 94px 200px 69px;
  background: linear-gradient(180deg, rgb(41, 52, 62, 0.6) 0%, rgba(41, 52, 62, 0.20) 111.09%), linear-gradient(180deg, #29343E 0%, rgba(41, 52, 62, 0.30) 111.09%), url(./../images/jpg/ice.jpg);

  img[alt="Rose-2"] {
    position: absolute;
    width: 900px;
    height: 732px;
    right: 0;
    bottom: -650px;
    z-index: 10;
  }
 
  h3 {    
    font-family: $denistina;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 101px */
    letter-spacing: 6.5px;
    margin-left: 90px;
    margin-bottom: 53px;
    
    & span {
      color: var(--accent);
      margin-left: 410px;
    }
  }

    .ice_para {
      max-width: 791px;      
      font-family: $inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 39px; /* 162.5% */
      margin-left: 409px;
      margin-bottom: 93px;      
    }
}

.text_item {
  @include flex-left;
  margin-bottom: 69px;  
}

.item-1 {
  max-width: 231px;
  font-family: $inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px; /* 140.625% */    
}

.item-2 {
  max-width: 489px;
  font-family: $inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 130.435% */
  margin-left: 178px;  
}

.item-3 {
  position: relative;
  width: 135px;
  height: 135px;
  border: 1px solid #FFF;
  border-radius: 50%;
  text-align: center;
  margin-left: 58px;
  
  #part {
    position: absolute;    
    font-family: $helveticaNeueCyr;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 100%; /* 20.8px */
    text-transform: uppercase;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%); 
    }  
}

.arr_down {
  img {
    display: block;
    margin: 0 auto;

    &[alt="Arr_down-1"] {
      margin-top: -5px;
    }
  }
}

.ice_ahead {
  position: relative;
  padding: 66px 185px 0 200px;
    
}

.baik_ahead_title {
  
    h2 {
      font-family: $denistina;
      font-size: 104px;
      font-style: normal;
      font-weight: 400;
      line-height: 102%; /* 106.08px */
      letter-spacing: -2.08px;
      margin-bottom: 54px;

    & span {
      color: var(--accent);
    }
  }
}

.baik_ahead_para {
  max-width: 691px;
  font-family: var(--font-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: -0.4px;
  margin-left: 405px;
  margin-bottom: 104px;  
}

.ahead_items {
  @include flex-left;
  align-items: flex-start;
}

.ahead_item-1 {
  margin-right: 159px;
  margin-top: -157px;

  img[alt="Ahead-1"] {
    margin-bottom: 7px;
  }

  .item_para-1 {
    max-width: 228px;
    font-family: $helveticaNeueCyr;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */      
  }
}

.ahead_item-2 {
  margin-right: 17px;

  .item_para-2 {
    max-width: 528px;
    color: #FFF;
    font-family: $helveticaNeueCyr;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 10px;  
  }  
}

.ahead_item-3 {

    .item_para-3 {
      max-width: 239px;
      font-family: $helveticaNeueCyr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      margin-top: 10px;     
    }

    img[alt="Ahead-3"] {
      transform: rotate(3deg);
    }
}

.baikal_tour {
  padding: 193px 206px 131px 192px;
  width: 100%;
  min-height: 1143px;
}

.tour_text {
  @include flex-left;
  align-items: flex-start;
  margin-bottom: 103px;
}

.tour_title {
font-family: $denistina;
font-size: 95px;
font-style: normal;
font-weight: 400;
line-height: 80%; /* 96.9px */
margin-right: 58px;

  & span {
    color: var(--accent);
    margin-left: 284px;
  }
}

.tour_para {
  width: 49.91%;
  p {
    width: 81.66%;
    font-family: $tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-bottom: 95px;   
  }
}

.tour_btn {
  width: 168px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #FFF;  
  font-family: $helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-right: 19px;   
}

.tour_info {
  @include flex-between;
  position: relative;

  #more {
  position: absolute;
  right: 0;
  bottom: 6px;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */    
  }
}

.tour_info_title {
  position: relative;
  width: 485px;

  .tour_book {
    position: absolute;
    top: -62px;
    width: 200px;
    height: 200px;
    background: var(--accent);
    border-radius: 50%;

    #to_book {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $gadugi;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */ 
    }
       

  }

    img[alt="Ellipse_photo"] {
      border-radius: 50%;
      margin-bottom: 29px;       
    }

  h5 {    
    text-align: center;
    font-family: $tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */    
  }
}

.tour_items {
  width: 693px;  
}

.tour_item {
  @include flex-between;
  padding: 40px 0;
  border-top: 2px solid #fff;

  h6 {
    font-family: var(--font-main);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */    
  }

  #olkhon {
    width: 490px;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    margin-top: 10px;
  }
}

.tour_item_add {
  padding: 12px 0 20px;
}

.tour_date {  
  color: #959595;
  text-align: right;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
}

.new {    
  padding: 93px 200px 126px 193px;
  background-image: url(./../images/svg/fall_vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 93px;
}

.new_title_info {
@include flex-between;

  .new_title_para {
    max-width: 536px;    
    font-family: $tahoma;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */    
  }
}

.new_title {
  font-family: $denistina;
  font-size: 95px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 96.9px */
  margin-bottom: 22px;

    & span {
      color: var(--accent);
      margin-left: 300px;
    }
}

.new_subtitle {
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new_items {
  min-width: 1400px;
  @include flex-left;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  transform: scaleY(-1);     

  [class^='new_item'] {
    width: 387px;
    height: 648px;
    padding: 22px 29px 41px 17px;
    margin-right: 20px;
    transform: scaleY(-1);
    margin-bottom: 61px;
  } 
  
  img {
    @include adaptive-img;
  }

  &::-webkit-scrollbar {
    width: 1px;       
  }
  
  &::-webkit-scrollbar-track {
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    border-top: 11px solid #273641;
    border-bottom: 11px solid #273641;    
    margin-right: 20px;          
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--accent);
    border-top: 11px solid #273641;
    border-bottom: 11px solid #273641;    
  } 
  
  &::-webkit-scrollbar-button:horizontal:increment {
    position: absolute;
    background-image: url(./../../images/svg/impr_arr_right-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top: 2px solid #273641;       
    width: 40px;           
} 

    &::-webkit-scrollbar-button:horizontal:start:increment {
      display: none;
    }
}

.new_item-1 {
  background: linear-gradient(180deg, #0F161D 3.09%, rgba(0, 0, 0, 0.40) 51.62%), linear-gradient(180deg, #0F161D 3.09%, rgba(0, 0, 0, 0.00) 51.62%), url(./../images/jpg/new_item-1.jpg);
}

.new_it_subtitle {
  color: #FDFDFD;
  font-family: var(--font-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  margin-bottom: 15px;
}

.new_it_title {
  width: 341px;
  color: #FDFDFD;
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 374px;
}

.title_add {
  margin-bottom: 346px;
}

.new_it_para {
  color: #FDFDFD;
  font-family: var(--font-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.new_item-2 {
  background: url(./../images/jpg/new_item-2.jpg);
}

.new_item-3 {
  background: url(./../images/jpg/new_item-3.jpg);
}

.new_item-4 {
  background: url(./../images/jpg/new_item-3.jpg);
}

.comfort {
  padding: 74px 200px 200px;
}

.comf_text {
  @include flex-between;
  margin-bottom: 70px;
}

.comf_title {  
  font-family: $denistina;
  font-size: 95px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 96.9px */
  
    & span {
      color: var(--accent);
      margin-left: 50px;
    }
}

.comf_para {
  text-align: right;
  font-family: $helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%; /* 56px */
  
    & span {
      font-size: 24px;
    }
}

.comf_btns {
  @include flex-between;
  max-width: 890px;
  margin: 0 auto 74px;

  & :nth-child(1) {
    width: 221px;
  }

  & :nth-child(2) {
    width: 116px;
  }

  & :nth-child(3) {
    width: 118px;
  }

  & :nth-child(4), :nth-child(5) {
    width: 168px;
  }
}

.cmnf_btn {
  height: 40px;
  border-radius: 50px;
  border: 1px solid #FFF;  
}

.comfort_items {
  position: relative;  
}

.comf_book {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--accent);
  border-radius: 50%;
  left: 300px;
  top: 235px;

  #co_book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
  }
}

.comfort_item-1, .comfort_item-2 {
  @include flex-between;
}

.comfort_item-1 {
  margin-bottom: 89px;
}

.com_item_text {

  h6 {  
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  margin-bottom: 36px;
  }

  p {
    max-width: 454px;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */    
  } 
}

.item-1_pics { position: relative; 
  width: 692px;
  height: 300px;
  @include flex-left;  
  flex-wrap: nowrap;    
  overflow-x: auto;
  overflow-y: hidden;  

  &::-webkit-scrollbar {position: absolute;
    width: 1px;                    
  }
  
  &::-webkit-scrollbar-track {
  background-color: #FFF;
  border-radius: 5px;
  border-top: 10px solid #273641;
  border-bottom: 10px solid #273641;  
  margin-right: 8px;               
  }

  &::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--accent);
  border-top: 9px solid #273641;
  border-bottom: 9px solid #273641;    
  } 

  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
      background-image: url(./../../images/svg/impr_arr_left.svg);
      background-size: contain;
      background-repeat: no-repeat;
      border-top: 5px solid #273641;
      width: 40px;         
  }

  &::-webkit-scrollbar-button:horizontal:increment {
      background-image: url(./../../images/svg/impr_arr_right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      border-top: 5px solid #273641;
      width: 40px;
  } 

  &::-webkit-scrollbar-button:horizontal:end:increment {
          display: none;
  }
}

.comfort_list {
  max-width: 444px;
  list-style: none; 
        
  li {   
      display: flex;   
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      margin-bottom: 10px;
      background: url(./../images/svg/marker.svg) 0 5px no-repeat;
      padding-left: 30px;
      margin-top: -10px;
  }        
}

.item-2_add {
  max-width: 692px;  
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  margin-top: 10px;  
}

.clients {
  background-image: url(./../images/jpg/clients_bg.jpg);
  background-size: cover;
  background-position: 0 90%;

  hr{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 62px;
    margin-top: -7px;
  }
}

.clients_title {
  @include flex-between;
  padding: 0 312px 0 157px;  

    h3 {
      font-family: $denistina;
      font-size: 95px;
      font-style: normal;
      font-weight: 400;
      line-height: 102%; /* 96.9px */
      
      & span {
        color: var(--accent);
      }
    }

    a p {
      font-family: var(--font-main);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      text-decoration-line: underline;      
    }
}

.clients_info {
  @include flex-between;
  align-items: stretch;
  padding-right: 194px;
}

.clients_item_data {
  @include flex-between;
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 51.2px */
  margin-bottom: 16px;
}

.clients_item {
  border-top: 1px solid #FFF;
}

.stars_item {
  margin-top: 20px;
  margin-bottom: 7px;
}

.name_date {
  @include flex-between;
  margin-bottom: 7px;
}

.name_info {
  max-width: 791px;
  margin-bottom: 20px;
}

.clients_add {
  margin-bottom: 0;
}

.clients_more {
  text-align: center;
  margin: 42px 0 307px 450px;
}

.clients_tours {
  padding: 0 225px 280px 195px;
}

.clients_tours_title {

    p {
      font-family: $denistina;
      font-size: 95px;
      font-style: normal;
      font-weight: 400;
      line-height: 102%; /* 96.9px */
      margin-bottom: 58px;
      
      & span {
        color: var(--accent);
      }
    }
}

.clients_tours_info {
  @include flex-left;

  #choose {
    align-self: flex-start;
    padding-top: 140px;
    width: 153px;
    color: #8E8E8E;
    font-family: $helveticaNeueCyr;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    transform: rotate(270deg);
    margin-right: 48px;
  }
}

.info_text {
  margin-left: 20px;

  h4 {    
    font-family: var(--font-main);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 51.2px */
    letter-spacing: -0.64px;
    margin-bottom: 14px;    
  }

  p {
    max-width: 468px;
    font-family: var(--font-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    margin-bottom: 26px;    
  }

  & :nth-child(3) {
    font-family: $inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.24px;
    
    span {
      color: var(--accent);
      font-family: $inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 38.4px */
      letter-spacing: 0.36px;      
    }
  }
}

.info_book {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin-left: auto;

  #in_book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
  }
}
